div {
  background-color: #131f32;
  color: #fff;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}